:root {
  --color-red: #d53369;
  --color-gold: #daae51;
  --color-blue: #33a0df;
  --color-green: #37f1b3;
  --color-yellow: #f5d273;
}

body {

  background: black;
  color: white;
}
#content {
  margin: 20px auto;
  width: 60vw;
  background: #222;
  padding: 14px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
}

#content img {
  width: 100%;
  display: block;
  margin: auto;
  flex-grow: 2;
}

.storytext {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 2;
  width: 100%;
}

button {
  margin: 14px;
  background: linear-gradient(-55deg, var(--color-red) 0%, var(--color-gold) 100%);
  padding: 14px 28px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;	
  transition: 0.3s ease-out;
  display: inline-block;
  border: none;
}

button:focus {
  outline: none;
}


button[data-talk] {
  background: linear-gradient(-55deg, var(--color-blue) 0%, var(--color-green) 100%);
}

button[data-answer] {
  background: linear-gradient(-55deg, var(--color-green) 0%, var(--color-yellow) 100%);
}

button:before {
	position: absolute;
	content:"";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;	
  transition: 0.3s ease-out;
}

button:hover {
	box-shadow: 5px 5px var(--color-red), -5px -5px var(--color-gold);
}

button[data-talk]:hover {
	box-shadow: 5px 5px var(--color-blue), -5px -5px var(--color-green);
}

button[data-answer]:hover {
	box-shadow: 5px 5px var(--color-green), -5px -5px var(--color-yellow);
}

button:hover::before {
  border: 0px;
}

.crossfade {
  margin: auto;
  position: relative;
  width: 100%;
}

.crossfade img:first-of-type {
  position: absolute;
  display:  block;
  animation: fadeout 5.5s ease-in-out 0.5s forwards;
}

.crossfade img:last-of-type {
  display:  block;
}

img.horizontal-flip {
  transform: scaleX(-1);
}

.fadein {
  opacity: 0;
  animation: fadein 6s ease-in-out 1s forwards;
}

.fadein-quick {
  opacity: 0;
  animation: fadein 3s ease-in-out 3s forwards;
}


@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

